body {
	font-family: Verdana, Arial, sans-serif;
	background: #5b5b5b;
	height: 100%;
	margin: 0;
	/*padding: 0 0 20px 0;*/
	color: white;
}

#shadow-one {
	width: 100%;
	border: 1px solid #555;
	border-top: 0;
	margin: 0;
	display: grid;
	justify-content: center;

}

#shadow-two {
	border: 1px solid #4b4b4b;
	border-top: 0;
}

#shadow-three {
	border: 1px solid #444;
	border-top: 0;
}

#shadow-four {
	border: 1px solid #3a3a3a;
	border-top: 0;
}

#page {
	border: 1px solid #333;
	background: #202020;
	border-top: 0;
	padding: 20px;
	font-size: 10pt;
	width: 100%;
	/*box-sizing: border-box;*/
}

#page td {
	font-size: 10pt;
}

#title {
	background: #8b0000;
	padding: 4px;
	font-weight: bold;
	color: white;
	margin-bottom: 15px;
	border-radius: 15px;
	height: 16px;
}

#title .right {
	float: right;
	width: 100px;
	text-align: right;
}

.menu {
	float: left;
	width: 100px;
	padding-right: 10px;
}

.menu div a {
	width: 100px;
	display: block;
	background: #8b0000;
	color: white;
	padding: 8px;
	font-weight: bold;
	border-bottom: 3px solid black;
	margin-bottom: 3px;
	border-radius: 15px;
	text-decoration: none;
}

.menu div a:hover {
	border: 2px solid #8b0000;
	background-color: #202020;
}

.menu div a.active {
	border: 2px solid #8b0000;
	background-color: #202020;
}

.menu div a:active {
	border: 2px solid #8b0000;
	background-color: #202020;
}

#content {
	max-width: 1170px;
	min-width: 500px;
	width: auto;
	float: left;
	padding-right: 10px;
	font-size: 8px;
	justify-content: center;

}

#content a {
	color: #c00;
	text-decoration: none;
}

#content a:hover {
	color: gray;
	text-decoration: underline;
}

#content h1 {
	margin-top: 0px;
}

.spacer {
	clear: both;
}

#footer {
	font-size: 0.8em;
	color: white;
	text-align: center;
	margin: 10px 50px 0 50px;
	padding-top: 10px;
	border-top: 1px dotted white;
}

#status {
	max-width: 250px;
	width: auto;
	float: right;
	padding: 10px;
	margin: 10px;
	border: 2px solid #8b0000;
	font-weight: bold;
	border-radius: 10px;
}

#status p {
	padding: 5px 0 5px 10px;
	text-indent: -10px;
	margin: 0;
}

#status .leds {
	font-size: 14pt;
}

#status .leds a {
	color: #ddd;
	cursor: pointer;
}

#status .leds a:hover {
	color: #ddd;
	text-decoration: none;
}

.examplebox {
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	text-align: center;
	background: #ddd;
}

.code {
	font-family: Courier New, Courier, fixed-width, fixed;
}

.exercise {
	background: #fe9;
	padding: 5px;
	margin-left: 10px;
	border-left: 2px solid #eb3;
}

.error {
	margin-left: 10px;
	padding: 10px;
	background: rgb(165, 5, 5);
	border-left: 2px solid #900;
}

#content h6 {
	border-top: 1px dashed #333;
	margin: 15px;
	padding: 0px;
	height: 1px;
}

.examplebox td {
	text-align: left;
	padding-right: 15px;
}

fieldset {
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 2px solid white;
	border-radius: 10px;
}

fieldset div {
	padding: 2px 0px 2px 150px;
}

fieldset div label {
	margin-left: -140px;
	padding: 3px;
	width: 135px;
	font-weight: bold;
	position: absolute;
	border: 2px solid #8b0000;
	border-radius: 10px;
}

fieldset input {
	width: 250px;
	margin-left: 5px;
	margin-bottom: 5px;
}

fieldset input.sm {
	width: auto;
}

fieldset textarea {
	width: 250px;
}

.result {
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	background: #eee;
}

.ok {
	border-color: #6b6;
	background: #efe;
}

.fail {
	border-color: #b66;
	background: #fee;
}

.unk {
	border-color: #cc6;
	background: #ffd;
}

@media (min-width: 768px) {
	#content {
		font-size: 10px;
		padding: 20px;
		min-width: 768px;
	}

	#shadow-one {
		width: auto;
		border: 1px solid #555;
		border-top: 0;
		margin: 0px auto;
	}

	#shadow-two {
		border: 1px solid #4b4b4b;
		border-top: 0;
	}

	#shadow-three {
		border: 1px solid #444;
		border-top: 0;
	}

	#shadow-four {
		border: 1px solid #3a3a3a;
		border-top: 0;
	}

	#page {
		border: 1px solid #333;
		background: #202020;
		border-top: 0;
		padding: 20px;
		font-size: 10pt;
		width: auto;
	}

	#title {
		background: #8b0000;
		padding: 4px;
		font-weight: bold;
		color: white;
		margin-bottom: 15px;
		border-radius: 15px;
		height: 16px;
	}

	#title .right {
		float: right;
		width: 100px;
		text-align: right;
	}

	.menu {
		float: left;
		width: 110px;
		padding-right: 10px;
	}

	.menu div a {
		width: 100px;
		display: block;
		background: #8b0000;
		color: white;
		padding: 8px;
		font-weight: bold;
		border-bottom: 3px solid black;
		margin-bottom: 3px;
		border-radius: 15px;
		text-decoration: none;
	}
}

@media (min-width: 1024px) {

	/* Desktop styles */
	#content {
		font-size: 15px;
		max-width: 1200px;
		min-width: 1024px;
		margin: 0 auto;
	}

	#shadow-one {
		width: 1120px;
		border: 1px solid #555;
		border-top: 0;
		margin: 0px auto;
	}

	#shadow-two {
		border: 1px solid #4b4b4b;
		border-top: 0;
	}

	#shadow-three {
		border: 1px solid #444;
		border-top: 0;
	}

	#shadow-four {
		border: 1px solid #3a3a3a;
		border-top: 0;
	}

	#page {
		border: 1px solid #333;
		background: #202020;
		border-top: 0;
		padding: 20px;
		font-size: 10pt;
		width: 1200px;
	}

	#title {
		background: #8b0000;
		padding: 4px;
		font-weight: bold;
		color: white;
		margin-bottom: 15px;
		border-radius: 15px;
		height: 16px;
	}

	#title .right {
		float: right;
		width: 300px;
		text-align: right;
	}

	.menu {
		float: left;
		width: 150px;
		padding-right: 10px;
	}

	.menu div a {
		width: 140px;
		display: block;
		background: #8b0000;
		color: white;
		padding: 8px;
		font-weight: bold;
		border-bottom: 3px solid black;
		margin-bottom: 3px;
		border-radius: 15px;
		text-decoration: none;
	}
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	float: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a.icon {
	float: right;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #8b0000;
	color: white;
}